---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogPost from "../../layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const metadata = {
  title: post.data.title,
  description: post.data.description,
  type: "article",
};
---

<BlogPost {...post.data} metadata={metadata}>
  <main class="text-white p-4">
    <Content />
  </main>
</BlogPost>
