---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogPost from "@/layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const metadata = {
  title: post.data.title,
  description: "An article by TedXChulalongkornU",
  type: "article",
};
---

<BlogPost {...post.data} metadata={metadata}>
  <main class="mx-auto max-w-4xl p-4 text-white sm:p-10">
    <h1 class="mb-8 font-display text-screen text-TED-yellow">
      {post.data.title}
    </h1>

    <Content />
  </main>
</BlogPost>
