---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => (a?.data?.date?.valueOf() ?? 0) - (b?.data?.date?.valueOf() ?? 0),
);

const metadata = {
  title: "Posts",
};
---

<PageLayout metadata={metadata}>
  <section class="mx-auto max-w-4xl px-4">
    <h1 class="mb-8 mt-2 text-center text-screen text-TED-yellow">Latest</h1>
    <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <Image
                width={720}
                height={360}
                src={post.data.heroImage ?? "/assets/fallback.png"}
                alt=""
                class="rounded-lg"
              />
              <h4 class="text-title text-white">{post.data.title}</h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
