---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import AboutUs from "../../public/AboutUs.png";
---

<PageLayout>
  <div
    class="relative mx-auto flex w-full flex-col items-center gap-24 px-4 py-16 text-white"
  >
    <section class="h-465 relative z-50 mx-auto">
      <div class="flex items-center justify-center">
        <Image
          src={AboutUs}
          alt="AboutUs"
          width={796}
          height={448}
          class="mx-auto"
        />
      </div>
      <h1 class="mb-8 text-center text-screen font-bold text-TED-red">
        About Us
      </h1>
      <div class="text-center text-body text-white">
        <p>
          In the spirit of ideas worth spreading, TED has created a program
          called TEDx. TEDx is a program<br /> of local, self-organized events
          that bring people together to share a TED-like experience. Our<br />
           event is called TEDxChulalongkorn,<br /> where x = independently
          organized TED event.
        </p>
      </div>
    </section>

    <section class="h-465 relative z-50 mx-auto">
      <div class="flex items-center justify-center">
        <Image
          src={AboutUs}
          alt="AboutUs"
          width={796}
          height={448}
          class="mx-auto"
        />
      </div>
      <h1 class="mb-8 text-center text-screen font-bold text-TED-red">
        Our Sponsor
      </h1>
      <div class="text-center text-body text-white">
        <p>
          In the spirit of ideas worth spreading, TED has created a program
          called TEDx. TEDx is a program<br /> of local, self-organized events
          that bring people together to share a TED-like experience. Our<br />
           event is called TEDxChulalongkorn,<br /> where x = independently
          organized TED event.
        </p>
      </div>
    </section>
  </div>
</PageLayout>
