---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="prose mx-auto flex flex-col px-4 py-16 text-white">
    <h1 class="text-center text-screen font-bold text-TED-red">
      Community where ideas grow
    </h1>
    <div class="grid-col-2 grid">
      <h2 class="text-subhead text-TED-yellow">What is TEDxChulalongkornU?</h2>
      <div class="grid-row grid text-body text-white">
        <p>
          In the spirit of ideas worth spreading, TED has created a program
          called TEDx. TEDx is a program of local, self-organized events that
          bring people together to share a TED-like experience. Our event is
          called TEDxChulalongkorn, where x = independently organized TED event.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <h2 class="text-center text-screen text-TED-red">Past Talks</h2>
      <p class="text-center text-title text-white">
        All talks that we proud to present
      </p>
    </div>
  </div>
</PageLayout>
