---
import "../styles/tailwind.css";

import CommonMeta from "../components/common/CommonMeta.astro";
import Favicons from "../components/Favicons.astro";
import CustomStyles from "../components/CustomStyles.astro";
import BasicScripts from "../components/common/BasicScripts.astro";
import type { MetaData } from "@/components/Metadata.astro";
import Metadata from "@/components/Metadata.astro";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <CommonMeta />
    <Favicons />
    <Metadata metadata={metadata} />
    <CustomStyles />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
